<ion-content>
  <div class="map-container">

    <div class="title">
      <ion-icon slot="start" (click)="onBack()" name="chevron-back-outline"></ion-icon>
    </div>

    <ion-searchbar></ion-searchbar>
      
    <p class="text-center">Google Map frame goes here</p>
  </div>

  <div class="ion-padding">

    <div class="ratings-container d-flex">

      <div class="doctor-profile">
        <img alt="Silhouette of mountains" src="assets/images/p5.jpg" />
      </div>
  
      <div class="ratings">
  
        <h4>Dr Rumbi D Msuya</h4>
        <p>Online</p>
  
        <div class="rate">
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>

          <span>(240)</span>
        </div>
  
        <div class="call-action">
          <ion-icon name="call-outline"></ion-icon>
          <ion-icon name="calendar-outline"></ion-icon>
          <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
        </div>
  
      </div>

    </div>


    <div class="distance-call d-flex">
      <p>Distance: <span>50KM</span> </p>
      <p>Estimated time: <span>2hr</span> </p>
    </div>

    <div class="place-gala">
      <img alt="Silhouette of mountains" src="assets/images/doc2.jpg" />
    </div>

  </div>
</ion-content>
