
<ion-content class="ion-padding">

  <div class="title">
    <ion-icon slot="start" (click)="onBack()" name="chevron-back-outline"></ion-icon>
  </div>

  <div class="read ion-padding">
    <ion-label class="read_lbl">Our terms & conditions</ion-label>
    <ion-label class="sub_lbl">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
    </ion-label>
  </div>

  <div class="terms ion-padding">
    <div class="condition">
      <ion-checkbox checked  color="secondary"></ion-checkbox>
      <ion-label class="left_lbl">Be Yourself</ion-label>
    </div>
    <ion-label class="text_lbl">Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam, corrupti!</ion-label>

  </div>

  <div class="terms ion-padding">
    <div class="condition">
      <ion-checkbox checked  color="secondary"></ion-checkbox>
      <ion-label class="left_lbl">Stay Safe</ion-label>
    </div>
    <ion-label class="text_lbl">Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet quis tenetur magnam obcaecati sequi optio sunt quam maiores laudantium accusantium.</ion-label>
  </div>

  <div class="terms ion-padding">
    <div class="condition">
      <ion-checkbox checked  color="secondary"></ion-checkbox>
      <ion-label class="left_lbl">Respect People</ion-label>
    </div>
    <ion-label class="text_lbl">Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus voluptates, tempora incidunt ducimus repellendus dicta?</ion-label>
  </div>


  <div class="terms ion-padding">
    <div class="condition">
      <ion-checkbox checked  color="secondary"></ion-checkbox>
      <ion-label class="left_lbl">Stay Safe</ion-label>
    </div>
    <ion-label class="text_lbl">Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum, ipsam?</ion-label>
  </div>

  <div class="terms ion-padding">
    <div class="condition">
      <ion-checkbox checked  color="secondary"></ion-checkbox>
      <ion-label class="left_lbl">Respect People</ion-label>
    </div>
    <ion-label class="text_lbl">Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus praesentium quasi omnis.</ion-label>
  </div>


  <div class="terms ion-padding">
    <div class="condition">
      <ion-checkbox checked  color="secondary"></ion-checkbox>
      <ion-label class="left_lbl">Stay Safe</ion-label>
    </div>
    <ion-label class="text_lbl">Lorem Ipsum is simply dummy text of the printing and typesetting industry</ion-label>
  </div>

  <div class="terms ion-padding">
    <div class="condition">
      <ion-checkbox checked  color="secondary"></ion-checkbox>
      <ion-label class="left_lbl">Respect People</ion-label>
    </div>
    <ion-label class="text_lbl">Lorem Ipsum is simply dummy text of the printing and typesetting industry</ion-label>
  </div>


    <div class="mt">
      <ion-button (click)="login()" expand="block" >
        Agree  <ion-icon name="arrow-forward-outline" style="margin-left: 10px;"></ion-icon>
      </ion-button>
    </div>

</ion-content>
