
<ion-content class="ion-padding">

  <div class="title">
    <ion-icon slot="start" (click)="onBackSignIn()" name="chevron-back-outline"></ion-icon>
  </div>

  <div class="dentity_div">
    <h2>Karibu</h2>
    <div class="logo">
      <img src="assets/images/logo-alt.svg" alt="Logo" />
    </div>
  </div>

  <div class="main-content">

    <div class="title">
      <ion-label>OTP Verification </ion-label>
    </div>

    <div class="phone-icon">
      <img src="assets/images/phone-icon.svg" alt="phone icon">
    </div>

    <div class="text">
      <ion-label>Code sent to <span class="spc">+255 783 738 834</span></ion-label>
    </div>

    <div class="verify">
      <ng-otp-input [config]="config" class="custom-otp-input"></ng-otp-input>
    </div>

    <div class="timer">
      <ion-label>Generate new code in <span>12 Sec</span></ion-label>
    </div>

    <ion-button class="btn" (click)="goToMoodTracker()" expand="block" color="#fff">
      Verify
    </ion-button>

    <div class="text">
      <ion-label class="spc" (click)="goToResend()"> - Resend code - </ion-label>
    </div>

  </div>

</ion-content>
