.title {
    display: flex;
    flex-direction: row;
    align-items: center;
      ion-icon {
        height: 40px;
        width: 40px;
        margin-right: 10px;
        margin-top: 10px;
      }
  }
  
  .main_img {
    display: flex;
    justify-content: center;
    margin: 4rem 0px 2rem 0px;
    .img {
      height: 150px;
      width: 150px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 50%;
    }
  }
  
  .profile {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 10vh 0rem 0px 0rem;
    width: 100%;

    ion-thumbnail {
      height: 100px;
      width: 100px;
      --border-radius: 50%;
      padding: 5px;
    }

    h5 {
      font-size: 16px;
      font-weight: 600;
      color: var(--ion-color-primary);
    }
    p {
      padding: 0 30px;
      line-height: 1.4;
      color: var(--ion-color-sup);
      font-size: 14px;
      margin-top: 0px;
    }
  }
  
  .item {
    margin: 30px 0px;
    ion-item {
      border-radius: 30px;
      --background: rgba(255, 255, 255, 0.651);
      margin: 10px 10px;
    }
  }
  ion-card{
    
    padding-bottom: 40px;

    .centered{
      display: flex;
      justify-content: center;
      align-items: center;

      .question-number{
        width: 100px;
        margin-top: 40px;
        text-align: center;
        
        }
      }
      p{
        line-height: 1.6;
        color: var(--ion-color-app-dark);
      }
      h2{
        font-size: 20px;
        color: var(--ion-color-app-dark);
        font-weight: 800;
        margin-bottom: 50px;

      }
    }

  .progress-container{
    padding: 30px;
    margin-bottom: -15px;

    .meter { 
      height: 8px;
      position: relative;
      background: var(--ion-color-app-dark);
      overflow: hidden;
      border-radius: 5px;
      }

      .meter span {
          display: block;
          height: 100% !important;
      }

      .progress {
          background-color: var(--ion-color-secondary);
          animation: progressBar 6s ease-in-out;
          animation-fill-mode:both; 
          border-radius: 5px;
      }

      @keyframes progressBar {
        0% { width: 0; }
        100% { width: 100%; }
      }
  }
  .keep-going{

    h1{
      font-size: 40px;
      margin-top: 10px;
      text-transform: capitalize;
      margin-left: 10px;
      color: #6d676721;
      font-weight: 900;
      line-height: 1;
    }
    h5{
      color: var(--ion-color-primary);
      margin-left: 17px;
      margin-top: 0px;
    }
  }
  .quote{
    height: 150px;
  }
  .mb{
    margin-bottom: 40px;
  }
  .section-button{
    background: #fff;
    width: 80%;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 40px;
    border: 1px solid var(--ion-color-primary);
    margin-top: 30px;
  
  .icon-cauch img{
    width: 60px;
    margin-left: 20px;
  }

  .button-text {
    margin-left: 45px;
    line-height: 1.23;
    font-size: 16px;
    margin-top: 3px;
    font-weight: 600;
    color: var(--ion-color-primary);
  }
}