<ion-content contentId="main-content">

  <div class="ion-padding">
    <div class="title">
      <ion-icon slot="start" (click)="onBack()" name="chevron-back-outline"></ion-icon>
      <ion-thumbnail slot="end">
        <img src="assets/images/p5.jpg" alt="" srcset="assets/images/p5.jpg">
      </ion-thumbnail>
    </div>
    
  
    <div class="profile">
      <h5>Rafiki, Jenifer</h5>
      <p>I am here to help you Know Yourself Better, answer the following question honestly!</p>
    </div>
  
    <div class="title-header">
      <h2>Watch</h2>
    </div>
  
    <ion-card>
  
      <div class="card-title-mg">
        <img alt="Silhouette of mountains" src="assets/images/doc1.jpg" />
      </div>
      
      <div class="w-100">
  
        <div class="card-title" slot="start">
            <ion-card-title>Grounding</ion-card-title>
            <div class="w-100 headers-title">
              <p>12 Excesses</p>
              <p><ion-icon name="time-outline"></ion-icon> 12:30min</p>
            </div>
        </div>
  
        <div class="card-icon" slot="end">
          <img src="assets/images/vid.svg" alt="" srcset="assets/images/vid.svg">
        </div>
      </div>
  
    </ion-card>
  
  <div class="slider-card">
    <div #swiperContainer class="swiper-container">
      <div class="swiper-wrapper">
  
        <ion-card class="swiper-slide">
          <div class="card-title-mg">
            <img alt="Silhouette of mountains" src="assets/images/doc2.jpg" />
          </div>
          
          <div class="w-100">
      
            <div class="card-title" slot="start">
                <ion-card-title>Meditation</ion-card-title>
                <div class="headers-title">
                  <p>12 Excesses</p>
                  <p><ion-icon name="time-outline"></ion-icon> 12:30min</p>
                </div>
            </div>
      
            <div class="card-icon" slot="end">
              <img src="assets/images/vid.svg" alt="" srcset="assets/images/vid.svg">
            </div>
          </div>
        </ion-card>
        
        <ion-card class="swiper-slide">
          <div class="card-title-mg">
            <img alt="Silhouette of mountains" src="assets/images/p5.jpg" />
          </div>
          
          <div class="w-100">
      
            <div class="card-title" slot="start">
                <ion-card-title>Grounding</ion-card-title>
                <div class="headers-title">
                  <p>12 Excesses</p>
                  <p><ion-icon name="time-outline"></ion-icon> 12:30min</p>
                </div>
            </div>
      
            <div class="card-icon" slot="end">
              <img src="assets/images/vid.svg" alt="" srcset="assets/images/vid.svg">
            </div>
          </div>
        </ion-card>
      
        <ion-card class="swiper-slide">
          <div class="card-title-mg">
            <img alt="Silhouette of mountains" src="assets/images/doc1.jpg" />
          </div>
          
          <div class="w-100">
      
            <div class="card-title" slot="start">
                <ion-card-title>Grounding</ion-card-title>
                <div class="headers-title">
                  <p>12 Excesses</p>
                  <p><ion-icon name="time-outline"></ion-icon> 12:30min</p>
                </div>
            </div>
      
            <div class="card-icon" slot="end">
              <img src="assets/images/vid.svg" alt="" srcset="assets/images/vid.svg">
            </div>
          </div>
        </ion-card>
  
    </div>
    </div> 
  
    <div class="readmore-button">
      <div class="section-button d-flex">
        <div class="button-text">View more videos</div>
      </div>
    </div>
  </div>
  
  </div>

  <div class="audio-container">
    <div class="ion-padding">
      <h3>Listen</h3>

      <div class="listen-container">
        <div class="listen-list d-flex">
          <div class="id-no">
            <h4>01</h4>
          </div>
          <div class="play-button">
            <img src="assets/images/svg/play.svg" alt="" srcset="assets/images/svg/play.svg">
          </div>
          <div class="audio-title">
            <h4>The audio title</h4>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis, illum.</p>
          </div>
          <div class="fev-icon">
            <img src="assets/images/svg/fev.svg" alt="" srcset="assets/images/svg/fev.svg">
          </div>
        </div>
  
        <div class="listen-list d-flex">
          <div class="id-no">
            <h4>02</h4>
          </div>
          <div class="play-button">
            <img src="assets/images/svg/play.svg" alt="" srcset="assets/images/svg/play.svg">
          </div>
          <div class="audio-title">
            <h4>The audio title</h4>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis, illum.</p>
          </div>
          <div class="fev-icon">
            <img src="assets/images/svg/fev.svg" alt="" srcset="assets/images/svg/fev.svg">
          </div>
        </div>
  
        <div class="listen-list d-flex">
          <div class="id-no">
            <h4>03</h4>
          </div>
          <div class="play-button">
            <img src="assets/images/svg/play.svg" alt="" srcset="assets/images/svg/play.svg">
          </div>
          <div class="audio-title">
            <h4>The audio title</h4>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis, illum.</p>
          </div>
          <div class="fev-icon">
            <img src="assets/images/svg/fev.svg" alt="" srcset="assets/images/svg/fev.svg">
          </div>
        </div>

        <div class="listen-list d-flex">
          <div class="id-no">
            <h4>04</h4>
          </div>
          <div class="play-button">
            <img src="assets/images/svg/play.svg" alt="" srcset="assets/images/svg/play.svg">
          </div>
          <div class="audio-title">
            <h4>The audio title</h4>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis, illum.</p>
          </div>
          <div class="fev-icon">
            <img src="assets/images/svg/fev.svg" alt="" srcset="assets/images/svg/fev.svg">
          </div>
        </div>

        <div class="listen-list d-flex">
          <div class="id-no">
            <h4>05</h4>
          </div>
          <div class="play-button">
            <img src="assets/images/svg/play.svg" alt="" srcset="assets/images/svg/play.svg">
          </div>
          <div class="audio-title">
            <h4>The audio title</h4>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis, illum.</p>
          </div>
          <div class="fev-icon">
            <img src="assets/images/svg/fev.svg" alt="" srcset="assets/images/svg/fev.svg">
          </div>
        </div>
      </div>

      <div class="watchmore-button">
        <div class="section-button">
          <div class="button-text">Listen more audios</div>
        </div>
      </div>

    </div>
  </div>

  <div class="ion-padding">
  
    <div class="title-header">
      <h2>Read</h2>
    </div>
  
    <div class="read-container">
      <div class="d-flex">

        <ion-card>
          <div class="card-title-mg">
            <img alt="Silhouette of mountains" src="assets/images/doc2.jpg" />
          </div>
      
          <div class="card-title">
            <ion-card-title>Meditation Lorem, ipsum dolor sit amet</ion-card-title>
            <div class="headers-title">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, commodi Lorem, ipsum dolor</p>
            </div>
            <h5>Read more</h5>
        </div>

        </ion-card>
        
        <ion-card>
          <div class="card-title-mg">
            <img alt="Silhouette of mountains" src="assets/images/p5.jpg" />
          </div>
      
            <div class="card-title">
              <ion-card-title>Meditation Lorem, ipsum dolor sit amet</ion-card-title>
              <div class="headers-title">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, commodi Lorem, ipsum dolor</p>
              </div>
              <h5>Read more</h5>
          </div>
        </ion-card>

      </div>
    </div> 
  

  <div class="slider-card slider-2">
    <div #swiperContainer2 class="swiper-container">
      <div class="swiper-wrapper">
  
        <ion-card class="swiper-slide">
          <div class="card-title-mg">
            <img alt="Silhouette of mountains" src="assets/images/doc2.jpg" />
          </div>
          
          <div class="card-title">
            <ion-card-title>Meditation Lorem, ipsum dolor sit amet Lorem ipsum dolor sit amet consectetur.</ion-card-title>
            <div class="headers-title">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, commodi Lorem, ipsum dolor Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa sapiente dolore similique perferendis ut?</p>
            </div>
            <h5>Read more</h5>
        </div>

        </ion-card>
        
        <ion-card class="swiper-slide">
          <div class="card-title-mg">
            <img alt="Silhouette of mountains" src="assets/images/p5.jpg" />
          </div>
          
          <div class="card-title">
            <ion-card-title>Meditation Lorem, ipsum dolor sit amet Lorem ipsum dolor sit amet consectetur.</ion-card-title>
            <div class="headers-title">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, commodi Lorem, ipsum dolor Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa sapiente dolore similique perferendis ut?</p>
            </div>
            <h5>Read more</h5>
        </div>

        </ion-card>
      
        <ion-card class="swiper-slide">
          <div class="card-title-mg">
            <img alt="Silhouette of mountains" src="assets/images/doc1.jpg" />
          </div>
          
          <div class="card-title">
            <ion-card-title>Meditation Lorem, ipsum dolor sit amet Lorem ipsum dolor sit amet consectetur.</ion-card-title>
            <div class="headers-title">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, commodi Lorem, ipsum dolor Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa sapiente dolore similique perferendis ut?</p>
            </div>
            <h5>Read more</h5>
        </div>

        </ion-card>
  
    </div>
    </div> 
  
    <div class="readmore-button">
      <div class="section-button d-flex">
        <div class="button-text" (click)="onMoreArticles()" >View more articles </div>
      </div>
    </div>
  </div>
  </div>

</ion-content>
