<ion-content class="ion-padding">

  <div class="title">
    <ion-icon slot="start" (click)="onBack()" name="chevron-back-outline"></ion-icon>
    <ion-thumbnail slot="end">
      <img src="assets/images/p5.jpg" alt="" srcset="assets/images/p5.jpg">
    </ion-thumbnail>
  </div>
  

  <div class="profile">
    <h5>Rafiki, Jenifer</h5>
    <p>I am here to help you Know Yourself Better, answer the following question honestly!</p>
  </div>

  <div class="title-header">
    <h2>Watch</h2>
  </div>

  <ion-card>

    <div class="card-title-mg">
      <img alt="Silhouette of mountains" src="assets/images/doc1.jpg" />
    </div>
    
    <div class="w-100">

      <div class="card-title" slot="start">
          <ion-card-title>Grounding</ion-card-title>
          <div class="w-100 headers-title">
            <p>12 Excesses</p>
            <p><ion-icon name="time-outline"></ion-icon> 12:30min</p>
          </div>
      </div>

      <div class="card-icon" slot="end">
        <img src="assets/images/vid.svg" alt="" srcset="assets/images/vid.svg">
      </div>
    </div>

  </ion-card>

</ion-content>
