<ion-content class="ion-padding">

  <div class="title">
    <ion-icon slot="start" (click)="onBack()" name="chevron-back-outline"></ion-icon>
  </div>

  <div class="profile">
    <ion-thumbnail>
      <img src="assets/images/p5.jpg" alt="" srcset="assets/images/p5.jpg">
    </ion-thumbnail>
    <h5>Rafiki, Jenifer</h5>
    <p>I am here to help you Know Yourself Better, answer the following question honestly!</p>
  </div>

  <div *ngIf="current_Div === 0">
    <ion-card>

      <div class="centered">
        <div class="question-number">
          <h2>1/5</h2>
        </div>
      </div>

      <div class="centered">
        <div class="qn">
          <p>In the last month, how often have you been upset because of something that happened unexpectedly?</p>
        </div>
      </div>

      <div class="qn-list">
        <form (ngSubmit)="submitForm()">

          <ion-radio-group [(ngModel)]="selectedValue" name="answer">
            <ul>
              <li><ion-radio value="Never"></ion-radio> Never</li>
              <li><ion-radio value="Almost Never"></ion-radio> Almost Never</li>
              <li><ion-radio value="Sometimes"></ion-radio> Sometimes</li>
              <li><ion-radio value="Fair Often"></ion-radio> Fair Often</li>
              <li><ion-radio value="Very Often"></ion-radio> Very Often</li>
            </ul>
          </ion-radio-group>

          <ion-button expand="full" type="submit">Submit</ion-button>
        </form>
      </div>

    </ion-card>

    <div class="progress">
      <ion-progress-bar [value]="current_Div / total_Div" color="warning"
        style="height: 8px; border-radius: 5px;"></ion-progress-bar>
    </div>

  </div>

  <div *ngIf="current_Div === 1">
    <ion-card>

      <div class="centered">
        <div class="question-number">
          <h2>2/5</h2>
        </div>
      </div>

      <div class="centered">
        <div class="qn">
          <p>In the last month, how often have you been upset because of something that happened unexpectedly?</p>
        </div>
      </div>

      <div class="qn-list">
        <form (ngSubmit)="submitForm()">

          <ion-radio-group [(ngModel)]="selectedValue" name="answer">
            <ul>
              <li><ion-radio value="Never 2"></ion-radio> Never</li>
              <li><ion-radio value="Almost Never 2"></ion-radio> Almost Never</li>
              <li><ion-radio value="Sometimes 2"></ion-radio> Sometimes</li>
              <li><ion-radio value="Fair Often 2"></ion-radio> Fair Often</li>
              <li><ion-radio value="Very Often 2"></ion-radio> Very Often</li>
            </ul>
          </ion-radio-group>

          <ion-button expand="full" type="submit">Submit</ion-button>
        </form>
      </div>

    </ion-card>

    <div class="progress">
      <ion-progress-bar [value]="current_Div / total_Div" color="warning"
        style="height: 8px; border-radius: 5px;"></ion-progress-bar>
    </div>

  </div>

  <div *ngIf="current_Div === 2">
    <ion-card>

      <div class="centered">
        <div class="question-number">
          <h2>3/5</h2>
        </div>
      </div>

      <div class="centered">
        <div class="qn">
          <p>In the last month, how often have you been upset because of something that happened unexpectedly?</p>
        </div>
      </div>

      <div class="qn-list">
        <form (ngSubmit)="submitForm()">

          <ion-radio-group [(ngModel)]="selectedValue" name="answer">
            <ul>
              <li><ion-radio value="Never 3"></ion-radio> Never</li>
              <li><ion-radio value="Almost Never 3"></ion-radio> Almost Never</li>
              <li><ion-radio value="Sometimes 3"></ion-radio> Sometimes</li>
              <li><ion-radio value="Fair Often 3"></ion-radio> Fair Often</li>
              <li><ion-radio value="Very Often 3"></ion-radio> Very Often</li>
            </ul>
          </ion-radio-group>

          <ion-button expand="full" type="submit">Submit</ion-button>
        </form>
      </div>

    </ion-card>

    <div class="progress">
      <ion-progress-bar [value]="current_Div / total_Div" color="warning"
        style="height: 8px; border-radius: 5px;"></ion-progress-bar>
    </div>

  </div>

  <div *ngIf="current_Div === 3">
    <ion-card>

      <div class="centered">
        <div class="question-number">
          <h2>4/5</h2>
        </div>
      </div>

      <div class="centered">
        <div class="qn">
          <p>In the last month, how often have you been upset because of something that happened unexpectedly?</p>
        </div>
      </div>

      <div class="qn-list">
        <form (ngSubmit)="submitForm()">

          <ion-radio-group [(ngModel)]="selectedValue" name="answer">
            <ul>
              <li><ion-radio value="Never 4"></ion-radio> Never</li>
              <li><ion-radio value="Almost Never 4"></ion-radio> Almost Never</li>
              <li><ion-radio value="Sometimes 4"></ion-radio> Sometimes</li>
              <li><ion-radio value="Fair Often 4"></ion-radio> Fair Often</li>
              <li><ion-radio value="Very Often 4"></ion-radio> Very Often</li>
            </ul>
          </ion-radio-group>

          <ion-button expand="full" type="submit">Submit</ion-button>
        </form>
      </div>

    </ion-card>

    <div class="progress">
      <ion-progress-bar [value]="current_Div / total_Div" color="warning"
        style="height: 8px; border-radius: 5px;"></ion-progress-bar>
    </div>

  </div>

  <div *ngIf="current_Div === 4">
    <ion-card>

      <div class="centered">
        <div class="question-number">
          <h2>5/5</h2>
        </div>
      </div>

      <div class="centered">
        <div class="qn">
          <p>In the last month, how often have you been upset because of something that happened unexpectedly?</p>
        </div>
      </div>

      <div class="qn-list">
        <form (ngSubmit)="submitForm()">

          <ion-radio-group [(ngModel)]="selectedValue" name="answer">
            <ul>
              <li><ion-radio value="Never 5"></ion-radio> Never</li>
              <li><ion-radio value="Almost Never 5"></ion-radio> Almost Never</li>
              <li><ion-radio value="Sometimes 5"></ion-radio> Sometimes</li>
              <li><ion-radio value="Fair Often 5"></ion-radio> Fair Often</li>
              <li><ion-radio value="Very Often 5"></ion-radio> Very Often</li>
            </ul>
          </ion-radio-group>

          <ion-button expand="full" type="submit">Submit</ion-button>
        </form>
      </div>

    </ion-card>

    <div class="progress">
      <ion-progress-bar [value]="current_Div / total_Div" color="warning"
        style="height: 8px; border-radius: 5px;"></ion-progress-bar>
    </div>

  </div>

  <div class="centered mb">
    <img class="quote" src="assets/images/quote-icon.svg" alt="quote">
    <div class="keep-going">
      <h1>Keep <br> going</h1>
      <h5>Rafiki</h5>
    </div>
  </div>

</ion-content>