.title {
    display: flex;
    flex-direction: row;
    align-items: center;
      ion-icon {
        height: 40px;
        width: 40px;
        margin-right: 10px;
        margin-top: 10px;
      }
  }
  
  .main_img {
    display: flex;
    justify-content: center;
    margin: 4rem 0px 2rem 0px;
    .img {
      height: 150px;
      width: 150px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 50%;
    }
  }
  
  .profile {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 1rem 0px;
    width: 100%;

    ion-thumbnail {
      height: 100px;
      width: 100px;
      --border-radius: 50%;
      padding: 5px;
    }

    h5 {
      font-size: 16px;
      font-weight: 600;
      color: var(--ion-color-primary);
    }
    p {
      padding: 0 30px;
      line-height: 1.4;
      color: var(--ion-color-sup);
      font-size: 14px;
      margin-top: 0px;
    }
  }
  
  .item {
    margin: 30px 0px;
    ion-item {
      border-radius: 30px;
      --background: rgba(255, 255, 255, 0.651);
      margin: 10px 10px;
    }
  }
  ion-card{

    .centered{
      display: flex;
      justify-content: center;
      align-items: center;

      .question-number{
        width: 100px;
        margin-top: 40px;
        color: #fff;
        background: #033C58;
        text-align: center;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        position: relative;
        top: 15px;
        left: 0;
        
        h2{
          font-size: 16px;
          font-weight: 700;
        }
      }
    }

    .qn {
      background: #F4F4F4;
      opacity: 1;
      padding: 15px 20px 10px 20px;
      border-radius: 5px;
      width: 90%;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: black 0px 4px 0px -7px, rgba(0, 0, 0, 0.009) 1px 2px 2px 0px, rgba(0, 0, 0, 0.099) 0px 1px 5px 0px;

      p{
        line-height: 1.4;
      }
    }
    .qn-list{

      ion-button{
        margin: 20px 60px 40px;
      }

      ion-radio-group{
        ul{
          padding-left: 20px;
          margin-top: 30px;
        }
        ul>li{
          width: 50%;
          display: inline-flex;
          list-style: none;
          font-size: 15px;
          margin-bottom: 10px;
        }
      }
      ion-radio {
        --border-radius: 4px;
        --inner-border-radius: 4px;
        margin-right: 7px;
      
        --color: #ddd;
        --color-checked: var(--ion-color-primary);
      }
      
      ion-radio.ios {
        width: 20px;
        height: 20px;
        margin-right: 7px;
      
        border: 2px solid #ddd;
        border-radius: 4px;
      }
      
      .radio-checked.ios {
        border-color: var(--ion-color-primary);
      }

    }
  }
  .progress{
    padding: 30px 15px;
    margin-bottom: 30px;

    ion-progress-bar{
      background: #010910;
      opacity: 1;
      z-index: 99;
    }
    .progress, .progress-indeterminate {
      background: var(--progress-background);
      z-index: 2;
  }
  }
  .keep-going{

    h1{
      font-size: 40px;
      margin-top: 10px;
      text-transform: capitalize;
      margin-left: 10px;
      color: #6d676721;
      font-weight: 900;
      line-height: 1;
    }
    h5{
      color: var(--ion-color-primary);
      margin-left: 17px;
      margin-top: 0px;
    }
  }
  .quote{
    height: 150px;
  }
  .mb{
    margin-bottom: 40px;
  }