<ion-content contentId="main-content">

  <div class="ion-padding">
  
    <div class="title">
      <ion-icon slot="start" (click)="onBack()" name="chevron-back-outline"></ion-icon>
      <ion-thumbnail slot="end">
        <img src="assets/images/p5.jpg" alt="" srcset="assets/images/p5.jpg">
      </ion-thumbnail>
    </div>

    <div class="title-header">
      <h2>All Reads</h2>
    </div>
  
    <div class="sort-list">
      <ul>
        <li>All</li>
        <li>Anxiety</li>
        <li>Depression</li>
        <li>Aggressive</li>
        <li>Stress</li>
        <li>Substance abuse</li>
        <li>Sexual Dysfunction</li>
      </ul>
    </div>
    <div class="read-container">
      <div class="d-flex">

        <ion-card>
          <div class="card-title-mg">
            <img alt="Silhouette of mountains" src="assets/images/doc2.jpg" />
          </div>
      
          <div class="card-title">
            <ion-card-title>Meditation Lorem, ipsum dolor sit amet</ion-card-title>
            <div class="headers-title">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, commodi Lorem, ipsum dolor</p>
            </div>
            <h5>Read more</h5>
        </div>

        </ion-card>
        
        <ion-card>
          <div class="card-title-mg">
            <img alt="Silhouette of mountains" src="assets/images/p5.jpg" />
          </div>
      
            <div class="card-title">
              <ion-card-title>Meditation Lorem, ipsum dolor sit amet</ion-card-title>
              <div class="headers-title">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, commodi Lorem, ipsum dolor</p>
              </div>
              <h5>Read more</h5>
          </div>
        </ion-card>

      </div>
    </div> 
  

    <div class="read-container full-post">

        <ion-card>
          <div class="card-title-mg">
            <img alt="Silhouette of mountains" src="assets/images/doc2.jpg" />
          </div>
          
          <div class="card-title">
            <ion-card-title>Meditation Lorem, ipsum dolor sit amet Lorem ipsum dolor sit amet consectetur.</ion-card-title>
            <div class="headers-title">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, commodi Lorem, ipsum dolor Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa sapiente dolore similique perferendis ut?</p>
            </div>
            <h5>Read more</h5>
        </div>

        </ion-card>
        
        <ion-card>
          <div class="card-title-mg">
            <img alt="Silhouette of mountains" src="assets/images/p5.jpg" />
          </div>
          
          <div class="card-title">
            <ion-card-title>Meditation Lorem, ipsum dolor sit amet Lorem ipsum dolor sit amet consectetur.</ion-card-title>
            <div class="headers-title">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, commodi Lorem, ipsum dolor Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa sapiente dolore similique perferendis ut?</p>
            </div>
            <h5>Read more</h5>
        </div>

        </ion-card>
      
        <ion-card>
          <div class="card-title-mg">
            <img alt="Silhouette of mountains" src="assets/images/doc1.jpg" />
          </div>
          
          <div class="card-title">
            <ion-card-title>Meditation Lorem, ipsum dolor sit amet Lorem ipsum dolor sit amet consectetur.</ion-card-title>
            <div class="headers-title">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, commodi Lorem, ipsum dolor Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa sapiente dolore similique perferendis ut?</p>
            </div>
            <h5>Read more</h5>
        </div>

        </ion-card>
  
  </div>

  </div>

</ion-content>
