<ion-content contentId="main-content">

  <div class="ion-padding">
  
    <div class="title">
      <ion-icon slot="start" (click)="onBack()" name="chevron-back-outline"></ion-icon>
      <ion-thumbnail slot="end">
        <img src="assets/images/p5.jpg" alt="" srcset="assets/images/p5.jpg">
      </ion-thumbnail>
    </div>

    <div class="title-header">
      <h2>All Audios</h2>
    </div>
  
    <div class="sort-list">
      <ul>
        <li class="active">All</li>
        <li>Anxiety</li>
        <li>Depression</li>
        <li>Aggressive</li>
        <li>Stress</li>
        <li>Substance abuse</li>
        <li>Sexual Dysfunction</li>
      </ul>
    </div>

    <div class="audio-container">

  
        <div class="listen-container">
          <div class="listen-list d-flex">
            <div class="play-button">
              <img src="assets/images/svg/play.svg" alt="" srcset="assets/images/svg/play.svg">
            </div>
            <div class="audio-title">
              <h4>The audio title</h4>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis, illum.</p>
            </div>
            <div class="fev-icon">
              <img src="assets/images/svg/fev.svg" alt="" srcset="assets/images/svg/fev-black.svg">
            </div>
          </div>
    
          <div class="listen-list d-flex">
            <div class="play-button">
              <img src="assets/images/svg/play.svg" alt="" srcset="assets/images/svg/play.svg">
            </div>
            <div class="audio-title">
              <h4>The audio title</h4>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis, illum.</p>
            </div>
            <div class="fev-icon">
              <img src="assets/images/svg/fev.svg" alt="" srcset="assets/images/svg/fev-black.svg">
            </div>
          </div>
    
          <div class="listen-list d-flex">
            <div class="play-button">
              <img src="assets/images/svg/play.svg" alt="" srcset="assets/images/svg/play.svg">
            </div>
            <div class="audio-title">
              <h4>The audio title</h4>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis, illum.</p>
            </div>
            <div class="fev-icon">
              <img src="assets/images/svg/fev.svg" alt="" srcset="assets/images/svg/fev-black.svg">
            </div>
          </div>
  
          <div class="listen-list d-flex">
            <div class="play-button">
              <img src="assets/images/svg/play.svg" alt="" srcset="assets/images/svg/play.svg">
            </div>
            <div class="audio-title">
              <h4>The audio title</h4>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis, illum.</p>
            </div>
            <div class="fev-icon">
              <img src="assets/images/svg/fev.svg" alt="" srcset="assets/images/svg/fev-black.svg">
            </div>
          </div>
  
          <div class="listen-list d-flex">
            <div class="play-button">
              <img src="assets/images/svg/play.svg" alt="" srcset="assets/images/svg/play.svg">
            </div>
            <div class="audio-title">
              <h4>The audio title</h4>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis, illum.</p>
            </div>
            <div class="fev-icon">
              <img src="assets/images/svg/fev.svg" alt="" srcset="assets/images/svg/fev-black.svg">
            </div>
          </div>
        </div>
  
      </div>
    </div>

</ion-content>
