<ion-content class="ion-padding">

  <div class="title">
    <ion-icon slot="start" (click)="onBackIntro()" name="chevron-back-outline"></ion-icon>
  </div>

  <div class="dentity_div">
    <h2>Karibu</h2>
    <div class="logo">
      <img src="assets/images/logo-alt.svg" alt="Logo" />
    </div>
  </div>

  <div class="main_content">
    <h2>Update Password</h2>
    <ion-item>
      <ion-icon slot="start" name="lock-closed"></ion-icon>
      <ion-label position="floating">New password</ion-label>
      <ion-input type="password" [(ngModel)]="password" name="password" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$" placeholder="Enter new password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="lock-closed"></ion-icon>
      <ion-label position="floating">Confirm password</ion-label>
      <ion-input type="password" [(ngModel)]="confirmpassword" name="confirmpassword" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$" placeholder="Confirm new password"></ion-input>
    </ion-item>

    <ion-button class="btn" (click)="goToVerify()" [disabled]="!isValidForm()" expand="full" color="#fff">
      Update password
    </ion-button>

    <ion-label class="reset-ps" (click)="goToSignIn()" > - Sign In - </ion-label>

  </div>

</ion-content>