<ion-app>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        <ion-label id="open-loading">Home</ion-label>
        <!-- <ion-loading class="custom-loading" trigger="open-loading" message="Loading..." [duration]="3000"></ion-loading> -->
      </ion-tab-button>

      <ion-tab-button tab="mood-tracker">
        <ion-icon name="thermometer-outline"></ion-icon>
        <ion-label id="open-loading-1">Diagnosis</ion-label>
        <!-- <ion-loading class="custom-loading" trigger="open-loading-1" message="Loading..." [duration]="3000"></ion-loading> -->
      </ion-tab-button>

      <ion-tab-button tab="aid-center">
        <ion-icon name="medkit-outline"></ion-icon>
        <ion-label id="open-loading-2">Aid center</ion-label>
        <!-- <ion-loading class="custom-loading" trigger="open-loading-2" message="Loading..." [duration]="3000"></ion-loading> -->
      </ion-tab-button>

      <ion-tab-button tab="journal">
        <ion-icon name="today-outline"></ion-icon>
        <ion-label id="open-loading-3">Journal</ion-label>
        <!-- <ion-loading class="custom-loading" trigger="open-loading-3" message="Loading..." [duration]="3000"></ion-loading> -->
      </ion-tab-button>
      
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
