<ion-content contentId="main-content">

  <div class="ion-padding">
  
    <div class="title">
      <ion-icon slot="start" (click)="onBack()" name="chevron-back-outline"></ion-icon>
      <ion-thumbnail slot="end">
        <img src="assets/images/p5.jpg" alt="" srcset="assets/images/p5.jpg">
      </ion-thumbnail>
    </div>

    <div class="title-header">
      <h2>All Videos</h2>
    </div>
  
    <div class="sort-list">
      <ul>
        <li class="active">All</li>
        <li>Anxiety</li>
        <li>Depression</li>
        <li>Aggressive</li>
        <li>Stress</li>
        <li>Substance abuse</li>
        <li>Sexual Dysfunction</li>
      </ul>
    </div>

    <ion-card>
  
      <div class="card-title-mg">
        <img alt="Silhouette of mountains" src="assets/images/doc1.jpg" />
      </div>
      
      <div class="w-100">
  
        <div class="card-title" slot="start">
            <ion-card-title>Grounding</ion-card-title>
            <div class="w-100 headers-title ml-15">
              <p>12 Excesses</p>
              <p><ion-icon name="time-outline"></ion-icon> 12:30min</p>
            </div>
        </div>
  
        <div class="card-icon" slot="end">
          <img src="assets/images/vid.svg" alt="" srcset="assets/images/vid.svg">
        </div>
      </div>
  
    </ion-card>


    <div class="read-container">
    <ion-grid>
      <ion-row>
        <ion-col size="6">

          <ion-card class="swiper-slide">
            <div class="card-title-mg">
              <img alt="Silhouette of mountains" src="assets/images/doc2.jpg" />
            </div>
            
            <div class="w-40">
        
              <div class="card-title" slot="start">
                  <ion-card-title>Meditation</ion-card-title>
                  <div class="headers-title">
                    <p>12 Excesses</p>
                    <p class="top-mg"><ion-icon name="time-outline"></ion-icon> 12:30min</p>
                  </div>
              </div>
        
              <div class="card-icon" slot="end">
                <img src="assets/images/vid.svg" alt="" srcset="assets/images/vid.svg">
              </div>
            </div>
          </ion-card>
        </ion-col>

        <ion-col size="6">
          <ion-card class="swiper-slide">
            <div class="card-title-mg">
              <img alt="Silhouette of mountains" src="assets/images/doc2.jpg" />
            </div>
            
            <div class="w-40">
        
              <div class="card-title" slot="start">
                  <ion-card-title>Meditation</ion-card-title>
                  <div class="headers-title">
                    <p>12 Excesses</p>
                    <p class="top-mg"><ion-icon name="time-outline"></ion-icon> 12:30min</p>
                  </div>
              </div>
        
              <div class="card-icon" slot="end">
                <img src="assets/images/vid.svg" alt="" srcset="assets/images/vid.svg">
              </div>
            </div>
          </ion-card>
        </ion-col>

        <ion-col size="6">
          <ion-card class="swiper-slide">
            <div class="card-title-mg">
              <img alt="Silhouette of mountains" src="assets/images/doc2.jpg" />
            </div>
            
            <div class="w-40">
        
              <div class="card-title" slot="start">
                  <ion-card-title>Meditation</ion-card-title>
                  <div class="headers-title">
                    <p>12 Excesses</p>
                    <p class="top-mg"><ion-icon name="time-outline"></ion-icon> 12:30min</p>
                  </div>
              </div>
        
              <div class="card-icon" slot="end">
                <img src="assets/images/vid.svg" alt="" srcset="assets/images/vid.svg">
              </div>
            </div>
          </ion-card>
        </ion-col>

        <ion-col size="6">
          <ion-card class="swiper-slide">
            <div class="card-title-mg">
              <img alt="Silhouette of mountains" src="assets/images/doc2.jpg" />
            </div>
            
            <div class="w-40">
        
              <div class="card-title" slot="start">
                  <ion-card-title>Meditation</ion-card-title>
                  <div class="headers-title">
                    <p>12 Excesses</p>
                    <p class="top-mg"><ion-icon name="time-outline"></ion-icon> 12:30min</p>
                  </div>
              </div>
        
              <div class="card-icon" slot="end">
                <img src="assets/images/vid.svg" alt="" srcset="assets/images/vid.svg">
              </div>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  </div>

</ion-content>
