<ion-content>

  <div class="ion-padding">
  <div class="title">
    <ion-icon slot="start" (click)="onBack()" name="chevron-back-outline"></ion-icon>
  </div>

  <div class="profile">
    <ion-thumbnail>
      <img src="assets/images/p5.jpg" alt="" srcset="assets/images/p5.jpg">
    </ion-thumbnail>
    <h5>Rafiki, Jenifer</h5>
    <p>How are you feeling today?</p>
  </div>
</div>

  <ion-card>

    <ion-grid class="text-center" [fixed]="true">
      <ion-row>
        <ion-col size="3" (click)="toggleEmotion(0)" [class.selected]="isSelected(0)">
          <img src="assets/images/happy.svg" alt="happy">
          <div class="tick-overlay" *ngIf="isSelected(0)">
            <ion-icon name="checkmark"></ion-icon>
          </div>
        </ion-col>
        <ion-col size="3" (click)="toggleEmotion(1)" [class.selected]="isSelected(1)">
          <img src="assets/images/confused.svg" alt="confused">
          <div class="tick-overlay" *ngIf="isSelected(1)">
            <ion-icon name="checkmark"></ion-icon>
          </div>
        </ion-col>
        <ion-col size="3" (click)="toggleEmotion(2)" [class.selected]="isSelected(2)">
          <img src="assets/images/sad.svg" alt="sad">
          <div class="tick-overlay" *ngIf="isSelected(2)">
            <ion-icon name="checkmark"></ion-icon>
          </div>
        </ion-col>
        <ion-col size="3" (click)="toggleEmotion(3)" [class.selected]="isSelected(3)">
          <img src="assets/images/postive.svg" alt="postive">
          <div class="tick-overlay" *ngIf="isSelected(3)">
            <ion-icon name="checkmark"></ion-icon>
          </div>
        </ion-col><ion-col size="3" (click)="toggleEmotion(4)" [class.selected]="isSelected(4)">
          <img src="assets/images/helpless.svg" alt="helpless">
          <div class="tick-overlay" *ngIf="isSelected(4)">
            <ion-icon name="checkmark"></ion-icon>
          </div>
        </ion-col><ion-col size="3" (click)="toggleEmotion(5)" [class.selected]="isSelected(5)">
          <img src="assets/images/hurt.svg" alt="hurt">
          <div class="tick-overlay" *ngIf="isSelected(5)">
            <ion-icon name="checkmark"></ion-icon>
          </div>
        </ion-col>
        <ion-col size="3" (click)="toggleEmotion(6)" [class.selected]="isSelected(6)">
          <img src="assets/images/afraid.svg" alt="afraid">
          <div class="tick-overlay" *ngIf="isSelected(6)">
            <ion-icon name="checkmark"></ion-icon>
          </div>
        </ion-col><ion-col size="3" (click)="toggleEmotion(7)" [class.selected]="isSelected(7)">
          <img src="assets/images/angry-face.svg" alt="angry-face">
          <div class="tick-overlay" *ngIf="isSelected(7)">
            <ion-icon name="checkmark"></ion-icon>
          </div>
        </ion-col><ion-col size="3" (click)="toggleEmotion(8)" [class.selected]="isSelected(8)">
          <img src="assets/images/strong.svg" alt="strong">
          <div class="tick-overlay" *ngIf="isSelected(8)">
            <ion-icon name="checkmark"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    
      <div class="select-info">
        <ul>
          <li>Select at least 'one' feeling</li>
          <li>Select 'Get to Know Your Self' for Self - Diagnosis</li>
          <li>Select 'Express How You are feeling'</li>
        </ul>
      </div>

    </ion-card>

    <div class="botton-container">
      <div class="centered">
        <div class="section-button blue d-flex" (click)="knowYourSelf()">
          <div class="icon-cauch"><img src="assets/images/door-icon.svg" alt="sofa"></div>
          <div class="button-text">Get to Know Yourself Better</div>
        </div>
      </div>

      <div class="centered">
        <div class="section-button d-flex" (click)="bookAppointment()">
          <div class="icon-cauch"><img src="assets/images/plus-icon.svg" alt="sofa"></div>
          <div class="button-text">Express How Your Feeling</div>
        </div>
      </div>
    </div>

</ion-content>
