<ion-content class="ion-padding">
  <div class="title">
    <ion-icon slot="start" (click)="onBack()" name="chevron-back-outline"></ion-icon>
  </div>

  <div class="dentity_div">
    <h2>Karibu</h2>
    <div class="logo">
      <img src="assets/images/logo-alt.svg" alt="Logo" />
    </div>
  </div>

  <div class="main_content">
    <h2>Reset Password</h2>
    <form (ngSubmit)="resetPassword()" #resetForm="ngForm">
      <ion-item>
        <ion-icon slot="start" name="mail"></ion-icon>
        <ion-label position="floating">Email address</ion-label>
        <ion-input
          type="email"
          [(ngModel)]="email"
          placeholder="Enter your email"
          name="email"
          pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
          required
          ngModel
          #emailInput="ngModel"
        ></ion-input>
      </ion-item>

      <ion-button
        class="btn"
        type="submit"
        [disabled]="!isValidForm() || resetInProgress"
        expand="full"
        color="primary"
      >
        <ion-spinner *ngIf="resetInProgress" name="dots"></ion-spinner>
        <span *ngIf="!resetInProgress">Send reset link</span>
      </ion-button>

      <ion-label class="reset-ps" (click)="goToLogin()" > - Login - </ion-label>

    </form>
  </div>
</ion-content>
