<ion-content class="ion-padding">

  <div class="title">
    <ion-icon slot="start" (click)="onBack()" name="chevron-back-outline"></ion-icon>
  </div>

  <div class="dentity_div">
    <h2>Karibu</h2>
    <div class="logo">
      <img src="assets/images/logo-alt.svg" alt="Logo" />
    </div>
  </div>

  <div class="main_content">
    <h2>Reset Password</h2>
    <ion-item>
      <ion-icon slot="start" name="mail"></ion-icon>
      <ion-label position="floating">Email address</ion-label>
      <ion-input type="email" [(ngModel)]="email" placeholder="Enter your email" name="email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" required></ion-input>
    </ion-item>

    <ion-button class="btn" (click)="goToVerify()" [disabled]="!isValidForm()" expand="full" color="#fff">
      Send reset link
    </ion-button>

  </div>

</ion-content>