<ion-content>

  <div class="ion-padding">
    <div class="title">
      <ion-icon slot="start" (click)="onBack()" name="chevron-back-outline"></ion-icon>
      <ion-thumbnail slot="end">
        <img src="assets/images/p5.jpg" alt="" srcset="assets/images/p5.jpg">
      </ion-thumbnail>
    </div>
    
  
    <div class="profile">
      <h5>Rafiki, Jenifer</h5>
      <p>What is in your mind! Express your mind through the journal, you can review it any time you want</p>
    </div>
</div>

  <div class="doctor-container">
    <div class="doctor-bio">

      <div class="main_content_div">
        <div class="text-center">
          <ion-label class="bold_lbl">Select Date</ion-label>
        </div>
      
        <div class="white_div">
          <ion-datetime-button datetime="datetime"></ion-datetime-button>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime id="datetime"></ion-datetime>
            </ng-template>
          </ion-modal>
        </div>

            <div class="journal-view">
              <h6>Niligombana na rafiki yangu</h6>
              <p>this is the pare Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis.</p>
              <div class="selected-moods">
                <div class="selected-moods">
                  <div class="d-flex">
            
                    <div class="mood-div">
                      <div class="d-inline">
                      <div class="happy"></div>
                    </div>
                    </div>
            
                    <div class="mood-div">
                      <div class="d-inline">
                      <div class="confused"></div>
                    </div>
                    </div>
            
                    <div class="mood-div">
                      <div class="d-inline">
                      <div class="sad"></div>
                    </div>
                    </div>
                    
                    <!-- Display the rest commented moods  -->
            
                    <!-- 
                    <div class="mood-div">
                      <div class="d-inline">
                      <div class="positive"></div>
                    </div>
                    </div>
            
                    <div class="mood-div">
                      <div class="d-inline">
                      <div class="helpless"></div>
                    </div>
                    </div>
            
                    <div class="mood-div">
                      <div class="d-inline">
                      <div class="hurt"></div>
                    </div>
                    </div>
            
                    <div class="mood-div">
                      <div class="d-inline">
                      <div class="afraid"></div>
                    </div>
                    </div>
            
                    <div class="mood-div">
                      <div class="d-inline">
                      <div class="angry"></div>
                    </div>
                    </div>
            
                    <div class="mood-div">
                      <div class="d-inline">
                      <div class="strong"></div>
                    </div>
                    </div> -->
            
                  </div>
                </div>
              </div>
              <div class="moods-time">
                <p>12:00 AM</p>
              </div>
            </div>

            <div class="journal-view">
              <h6>Niligombana na rafiki yangu</h6>
              <p>this is the pare Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis.</p>
              <div class="selected-moods">
                <div class="selected-moods">
                  <div class="d-flex">
            
                    <div class="mood-div">
                      <div class="d-inline">
                      <div class="happy"></div>
                    </div>
                    </div>
            
                    <div class="mood-div">
                      <div class="d-inline">
                      <div class="confused"></div>
                    </div>
                    </div>
            
                    <div class="mood-div">
                      <div class="d-inline">
                      <div class="sad"></div>
                    </div>
                    </div>
                    
                    <!-- Display the rest commented moods  -->
            
                    <!-- 
                    <div class="mood-div">
                      <div class="d-inline">
                      <div class="positive"></div>
                    </div>
                    </div>
            
                    <div class="mood-div">
                      <div class="d-inline">
                      <div class="helpless"></div>
                    </div>
                    </div>
            
                    <div class="mood-div">
                      <div class="d-inline">
                      <div class="hurt"></div>
                    </div>
                    </div>
            
                    <div class="mood-div">
                      <div class="d-inline">
                      <div class="afraid"></div>
                    </div>
                    </div>
            
                    <div class="mood-div">
                      <div class="d-inline">
                      <div class="angry"></div>
                    </div>
                    </div>
            
                    <div class="mood-div">
                      <div class="d-inline">
                      <div class="strong"></div>
                    </div>
                    </div> -->
            
                  </div>
                </div>
              </div>
              <div class="moods-time">
                <p>12:00 AM</p>
              </div>
            </div>

            <div class="journal-view">
              <h6>Niligombana na rafiki yangu</h6>
              <p>this is the pare Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis.</p>
              <div class="selected-moods">
                <div class="selected-moods">
                  <div class="d-flex">
            
                    <div class="mood-div">
                      <div class="d-inline">
                      <div class="happy"></div>
                    </div>
                    </div>
            
                    <div class="mood-div">
                      <div class="d-inline">
                      <div class="confused"></div>
                    </div>
                    </div>
            
                    <div class="mood-div">
                      <div class="d-inline">
                      <div class="sad"></div>
                    </div>
                    </div>
                    
                    <!-- Display the rest commented moods  -->
            
                    <!-- 
                    <div class="mood-div">
                      <div class="d-inline">
                      <div class="positive"></div>
                    </div>
                    </div>
            
                    <div class="mood-div">
                      <div class="d-inline">
                      <div class="helpless"></div>
                    </div>
                    </div>
            
                    <div class="mood-div">
                      <div class="d-inline">
                      <div class="hurt"></div>
                    </div>
                    </div>
            
                    <div class="mood-div">
                      <div class="d-inline">
                      <div class="afraid"></div>
                    </div>
                    </div>
            
                    <div class="mood-div">
                      <div class="d-inline">
                      <div class="angry"></div>
                    </div>
                    </div>
            
                    <div class="mood-div">
                      <div class="d-inline">
                      <div class="strong"></div>
                    </div>
                    </div> -->
            
                  </div>
                </div>
              </div>
              <div class="moods-time">
                <p>12:00 AM</p>
              </div>
            </div>
        </div>
      
      <div class="section-button centered" (click)="getJournal()">
        <ion-fab>
          <ion-fab-button>
            <ion-icon name="add"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </div>
    </div>
    </div>

</ion-content>
